
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{background-color:#444;color:#e1e1e1;}
body,td,th{ font: 9pt Lucida,Verdana;margin:0;vertical-align:top;color:#e1e1e1; }
table.info{ color:#fff;background-color:#222; }
span,h1,a{ color: #55e844  !important; }
span{ font-weight: bolder; }
h1{ border-left:5px solid #df5;padding: 2px 5px;font: 14pt Verdana;background-color:#222;margin:0; }
div.content{ padding: 5px;margin-left:5px;background-color:#333; }
form,ul,ol {margin: 0;padding: 0;}
ul li ,ol li{list-style-type: none;}
a{ text-decoration:none; }
a:hover{ text-decoration:underline; }
.ml1{ border:1px solid #444;padding:5px;margin:0;overflow: auto; }
.bigarea{ width:100%;height:300px; }
input,textarea,select{ margin:0;color:#fff;background-color:#555;border:1px solid #ff8303; font: 9pt Monospace; }
#toolsTbl{ text-align:center; }
.toolsInp{ width: 300px }
.strips th{text-align:left;background-color:#5e5e5e;}
.strips tr:hover{background-color:#5e5e5e}
.strips tr:nth-child(odd){background-color:#444}
.strips tr:nth-child(even){background-color:#333}
.red-m, .red-m a ,.modules-menu th a{  color: #ff8f00 !important; }
.strips tr:hover td {
    background-color: #3a2c20;
}
.red{color: #f00  !important;}
.green{color: #55e844 !important;}
pre{font-family:Courier,Monospace;}
.min-width {width: 1%;}
.menu {    text-align: center;
    margin: 5px 0;}
ul.menu-h {}
ul.menu-h li {
    display: inline-block;
}
ul.menu-h li a {
    margin-left: 5px;
    display: block;
    background-color: #222222;
    padding: 5px 10px;
}
ul.menu-v {}
ul.menu-v li {
    list-style: none;
}
#load_bar {
    width: 100%;
    background: #000;
    position: fixed;
    top:0;
    padding: 3px;

    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
}

#load_bar_fill {
    height: 10px;
    display: inline-block;
    vertical-align: top;
    background: cornflowerblue;
    width: 0%;
    text-align: right;
    font-size: 8px;
    padding-right: 2px;
    color:#000 !important;
    transition: width 0.8s ease;
    -webkit-transition: width 0.8s ease;
}
.circle_loader,
.circle_loader:after {
    border-radius: 50%;
    width:8px;
    height: 8px;
}
.circle_loader {
    margin: -1px auto;
    margin-left: 2px;
    font-size: 2px;
    display: inline-block;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(100, 255, 141, 0.2);
    border-right: 1.1em solid rgba(100, 255, 141, 0.2);
    border-bottom: 1.1em solid rgba(100, 255, 141, 0.2);
    border-left: 1.1em solid rgb(117, 255, 101);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
